---
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

interface Props {
  name: string;
  url: string;
  isBig?: boolean;
  backUrl?: string;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/")[6];

const front_default = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a href={!isBig ? `/pokemons/${name}?` : "#"}>
  <div
    class:list={[
      "border border-black rounded flex flex-col justify-center items-center p-3",
      { "border-none": isBig },
    ]}
  >
    <img
      transition:name={`${name}-image`}
      transition:animate={fade({ duration: ".6s" })}
      class:list={[{ "border-none w-72 h-72": isBig, "w-16 h-16": !isBig }]}
      src={front_default}
      alt={name}
    />
    <h2 class:list={["capitalize font-bold text-black", { "text-3xl": isBig }]}>
      #{id}
      {name}
    </h2>
  </div>
</a>
